body{
  background-color: #61a75e;
  position: relative;
}

.container p {
  font-size: 16px;
}

header {
  background-color: #61a75e;
  margin-top: 2px;
}

header .container .row:first-child p a {
  color: white;
  padding: 3px;
}

header .container .row:first-child p {
  margin: 0;
}

header .container .row:nth-child(2){
  border: 2px solid black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: white;
  border-bottom: 0px solid black;
}

header .container .row:nth-child(2) .col-sm-4 {
  margin-top: 15px;
  margin-bottom: 15px;
}

header .container .row:nth-child(2) .col-sm-8 h1 {
  padding-top: 20px;
  color: #117c0d;
}

header .container .row:nth-child(3) {
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  padding-bottom: 0;
}

header .container .row:nth-child(3) a {
  color: white;
  font-weight: bolder;
}

header .container .row:nth-child(3) .navbar .container-fluid .dropdown ul li a {
  color: black;
}

.navbar-default {
  background-color: #117c0d;
  border-color:  #117c0d;
}

.navbar-toggle {
  float: left;
  position: relative;
  left: 46%;
  margin-left: 0;
  margin-right: 0;
}

#slideshow .container {
  background-color: white;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 0px;
}

#underSlideshow .container {
  background-color: white;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#underSlideshow .container .row .col-sm-8 {
  padding: 25px;
}

#underSlideshow .container .row .col-sm-8 h2 {
  margin-top: 0px;
}

#underSlideshow .container .row .col-sm-4 {
  padding: 165px 40px 0px 40px;
}

#underSlideshow .container .row .col-sm-4 h3 span {
  color: #117c0d;
}

#mainTeams .container{
  background-color: lightgray;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#mainTeams .container .row .col-sm-3 {
  margin-top: 15px;
}

#helpOptions img {
  width:  100%;
  height: auto;
}

.affix {
  top: 15px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  color: #fff;
  background-color: #117c0d;
}

.nav-pills > li > a {
  color: #117c0d;
  text-decoration: none;
  font-size: 14px;
}

@media screen and (max-width: 810px) {
  #LIV_Livres_Solidaires, #CARE_LIV {
      margin-left: 150px;
  }
}

#mainTeams .container .row .col-sm-3 li {
  font-size: 16px;
}

#mainTeams .container .row .col-sm-9 {
  background-color: white;
}

#mainTeams .container .row .col-sm-9 li{
  font-size: 16px;
}

#mainTeams .container .row .col-sm-9 img {
  height: 400px;
  width:  100%;
}

#contactForms .container {
  background-color: white;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#contactForms .container .row:first-child p {
  text-align: justify;
}

#contactForms .container .row:nth-child(2) .col-md-4:first-child p:nth-child(4) {
  margin-bottom: 2px;
}

#contactForms .container .row:nth-child(2) .col-md-4:nth-child(2) {
  margin-left: 30px;
}

#thankYou .container {
  background-color: white;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  padding-bottom: 20px;
}

footer {
  margin-top: 15px;
  background-color: #61a75e;
}

footer p {
  color: white;
}

header .container .row p {
  color: white;
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}

ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}

.social-network a.icoEnvelope:hover {
  background-color:#F23985;
}

.social-network a.icoFacebook:hover i, .social-network a.icoEnvelope:hover i {
  color:#fff;
}

a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 30px;
	height: 30px;
	font-size:18px;
}

.social-circle li i {
	margin:0;
  margin-bottom: 10px;
	line-height:30px;
	text-align: center;
}

.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.navbar .container-fluid, .navbar-collapse {
    padding-left:0;
}
.navbar-collapse.in {
    padding-left:30px;
}

.navbar{
  margin-bottom: 0;
}
